# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Database & artifacts
backend/*.db
backend/*.db-journal

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
